include ../mixins/_mixins.pug
include ../data/_data.pug
block variables

doctype html
html.page(lang='ru-RU')
  head
    meta(charset='UTF-8')
    title #{pageTitle}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block style
      link(href='style/style.css', rel='stylesheet')
    block script
      script(src='scripts/index.js', defer)
  body.page__body
    include ../components/header.pug
    block content
    include ../components/footer.pug

