doctype html
html.page(lang='ru-RU')
  head
    meta(charset='UTF-8')
    title 404! Страница не найдена
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block style
      link(href='style/style.css', rel='stylesheet')
    block script
  body.page__body
    main.page__content
      .container
        h1 404
        p Страница не найдена
          a(href= '/') Перейти на главную

