doctype html
html.page(lang='ru-RU')
  head
    meta(charset='UTF-8')
    title #{pageTitle}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block style
      link(href='style/style.css', rel='stylesheet')
    block script
  main.page__content
    .container
      h1 404
      p Страница не найдена
        a(href= '/')
          |  Перейти на главную

