extends layout/layout.pug

block variables
  - title = 'Главная страница'
  - pageTitle = 'index-page'

block content
  main(class=pageTitle)
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur delectus eaque error explicabo in nam natus nemo nesciunt nisi non quae qui quia quisquam rerum, sed totam vel, voluptas.
