extends layout/layout.pug

block variables
  - pageTitle = 'Главная страница'
  - pageUrl = 'program.html'

block content
  main.page__content
    .container
      h1 Здесь бы могла быть ваша реклама

