-
  dataCatalog = [
    {
      'title': 'Cat Energy PRO 500 г',
      'weight': 500,
      'taste': 'Курица',
      'price': 700,
      'imgUrl': 'products/product1.png',
      'imgWidth': 68,
      'imgHeight': 86,
      'response':[
        {
          'minWidth': 768,
          'prefix': 'tablet',
          'width': 161,
          'height': 172
        }
      ]
    },
    {
      'title': 'Cat Energy PRO 1000 г',
      'weight': 1000,
      'taste': 'Курица',
      'price': 1000,
      'imgUrl': 'products/product2.png',
      'imgWidth': 84,
      'imgHeight': 100 ,
      'response':[
        {
          'minWidth': 1280,
          'prefix': 'desktop',
          'width': 172,
          'height': 196
        },
        {
          'minWidth': 768,
          'prefix': 'tablet',
          'width': 168,
          'height': 206
        },

      ]
    },
    {
      'title': 'Cat Energy PRO 500 г',
      'weight': 500,
      'taste': 'Рыба',
      'price': 700,
      'imgUrl': 'products/product3.png',
      'imgWidth': 68,
      'imgHeight': 78 ,
      'response':[
        {
          'minWidth': 768,
          'prefix': 'tablet',
          'width': 163,
          'height': 174
        },
      ]
    },
    {
      'title': 'Cat Energy PRO 1000 г',
      'weight': 1000,
      'taste': 'Рыба',
      'price': 1000,
      'imgUrl': 'products/product4.png',
      'imgWidth': 84,
      'imgHeight': 100  ,
      'response':[
        {
          'minWidth': 1280,
          'prefix': 'desktop',
          'width': 172,
          'height': 196
        },
        {
          'minWidth': 768,
          'prefix': 'tablet',
          'width': 168,
          'height': 200
        },

      ]
    },
    {
      'title': 'Cat Energy SLIM 500 г',
      'weight': 500,
      'taste': 'Гречка',
      'price': 400,
      'imgUrl': 'products/product5.png',
      'imgWidth': 68,
      'imgHeight': 78  ,
      'response':[
        {
          'minWidth': 768,
          'prefix': 'tablet',
          'width': 161,
          'height': 171
        },
      ]
    },
    {
      'title': 'Cat Energy SLIM 1000 г',
      'weight': 1000,
      'taste': 'Гречка',
      'price': 700,
      'imgUrl': 'products/product6.png',
      'imgWidth': 84,
      'imgHeight': 100,
      'response': [
        {
          'minWidth': 1280,
          'prefix': 'desktop',
          'width': 172,
          'height': 196
        },
        {
          'minWidth': 768,
          'prefix': 'tablet',
          'width': 168,
          'height': 200
        },

      ]
    },
    {
      'title': 'Cat Energy SLIM 500 г',
      'weight': 500,
      'taste': 'Рис',
      'price': 500,
      'imgUrl': 'products/product6.png',
      'imgWidth': 72,
      'imgHeight': 84 ,
      'response': [
        {
          'minWidth': 768,
          'prefix': 'tablet',
          'width': 163,
          'height': 174
        },
      ]
    },
  ]
