-
  dataCatalogExtra = [
    {
      'title': 'Сахарозаменитель',
      'detailsTitle': '1 упаковка (100 г)',
      'detailsDesc': '200 ₽',
    },
    {
      'title': 'Питьевая вода',
      'detailsTitle': '5 литров',
      'detailsDesc': '50 ₽',
    },
    {
      'title': 'Молоко',
      'detailsTitle': '1 литр',
      'detailsDesc': '100 ₽',
    },
    {
      'title': 'Витамины',
      'detailsTitle': '1 упаковка (30 г)',
      'detailsDesc': '300 ₽',
    },
  ]
