-
  dataNavSite = [
    {
      'href':'index.html',
      'title': 'Главная'
    },
    {
      'href':'catalog.html',
      'title': 'Каталог продукции'
    },
    {
      'href':'program.html',
      'title': 'Подбор программы'
    },
  ]
