-
  logoData = [
    {
      'minWidth': 1280,
      'src': 'logo-desktop.svg',
      'width': 70,
      'height': 59
    },
    {
      'minWidth': 768,
      'src': 'logo-tablet.svg',
      'width': 60,
      'height': 50
    },
  ]
-
  logoDataText = [
    {
      'minWidth': 1280,
      'width': 118,
      'height': 21
    },
  ]
