header.page__header.main-header
  nav.main-header__nav.container
    a.main-header__logo.logo(href='/', aria-current='page')
      +imgResponse('logo-mobile.svg', logoData).logo__img(width=33, height=38, alt='Логотип')
      +imgResponse('logo-text.svg', logoDataText).logo__img.logo__img--text(width=101, height=18, alt='Логотип')
    button.main-header__burger.burger(type='button')
      span.visually-hidden Открыть меню
      span.burger__line
    .main-header__block
      ul.main-header__nav-site.nav-site
        each item in dataNavSite
          li.nav-site__item
            a.nav-site__link(class=(item.href === pageUrl ? 'nav-site__link--current': ''), href=item.href, aria-current=(item.href === pageUrl ? 'page' : false)) #{item.title}
  section.main-header__hero.hero
    .hero__wrapper.container
      .hero__content
        h1.hero__title Функциональное<br> питание для котов
        p.hero__desc Занялся собой? Займись котом!
      +imgResponse('hero/hero-img.png', dataHeroImg).hero__img(width=280, height=270, alt='Продукт')
      a.hero__button.button.button--size-xl-md(href='plans.html') Подобрать программу

